extends ../layout

block content
    .preview
    form(action='' method='post')
        h1 Votre profil
        input(type='text', name='firstName', placeholder='Prénom', value='#{firstName}', required='required')
        input(type='text', name='lastName', placeholder='Nom', value='#{lastName}', required='required')
        input(type='text', name='age', placeholder='Âge', value='#{age}', required='required')
        input(type='text', name='address', placeholder='Adresse (ex : 17 avenue Victor Hugo, Paris)', value='#{address}', required='required')
        input(type='text', name='phone', placeholder='Numéro de téléphone', value='#{phone}' )
        input(type='text', name='email', placeholder='Email', value='#{email}', required='required')
        input(type='password', name='oldPassword', placeholder='Ancien mot de passe', required='required')
        input(type='password', name='password', placeholder='Nouveau mot de passe')
        input(type='password', name='passwordConfirmation', placeholder='Confirmation mot de passe')
        if info                
            p= info
        button(type='submit') Modifier
