doctype html
html
  head
    // Set charset
    meta(charset='utf-8')
    // Title
    title NbCooking - Profil
    // Import css and fonts
    link(rel='stylesheet', href='stylesheets/app.css', media='only screen and (max-device-width: 768px)', type='text/css')
    link(rel='stylesheet', href='stylesheets/app_web.css', media='only screen and (min-device-width: 768px)', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
    // Import jQuery and javascript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='javascripts/app.js')
  body
    header
      img(src='images/logo.png', alt='NbCookingLogo')
      a(href='index.html') NbCooking
    .preview(style='background-image: url(images/offer1.jpg);')
    br
    br
    .formulaireOffre
      #formOffer
        center
          h2 Votre Profil
        form(action='', method='post')
          div(style='border-color: black; ')
            img(src='')
          div
            label  Prénom : 
            input#prenom(type='text', name='prenom', value='#{firstname}')
          div
            label  Nom : 
            input#prenom(type='text', name='lastname', value='#{lastname}')
          div
            label  Adresse : 
            input#prenom(type='text', name='adresse', value='#{adresse}')
          div
            label  Numéro Portable : 
            input#prenom(type='number', name='number', value='#{numberP}')
          div
            label  Email : 
            input#prenom(type='mail', name='mail', value='#{mail}')
          br
          .button
            button(type='submit') Modifier
    .clear
    footer
      .browse
        h3 BROWSE:
        a(href='index.html') Accueil
        a(href='search.html') Recherche
        a(href='#') Contact
        a(href='#') Inscription
        a(href='#') Connexion
        a(href='#') Mon compte
      p.copyright Copyright © 2016 NbCooking. All rights reserved.
