extends ../layout

block content
    .preview
    .offer
        img(src='#{picture}')
        .navbar
            h1= title
            a.cooker(href='/profile/#{cookerId}') Cuisinier: #{cooker}
            .description= description
            .price #{price}€
        